<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="contrast" value="0" />
    <add key="brightness" value="30" />
    <add key="exposure" value="-6" />
    <add key="saturation" value="83" />
    <add key="port" value="COM9" />
    <add key="baudrate" value="115200" />
    <add key="width" value="1280" />
    <add key="height" value="720" />
    <add key="threshold" value="30" />
    <add key="sigma" value="2" />
    <add key="window" value="9" />
    <add key="laserAngle" value="60" />
    <add key="laserDelay" value="100" />
    <add key="rkx" value="0.18" />
    <add key="rky" value="0.18" />
    <add key="rkz" value="0.18" />
    <add key="lkx" value="0.18" />
    <add key="lky" value="0.18" />
    <add key="lkz" value="0.18" />
    <add key="xmax" value="200" />
    <add key="xres" value="0.5" />
    <add key="offsetZ" value="60" />
    <add key="white_balance" value="3000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="cam_idx" value="0"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>